ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#c997c4;
}
li{
  float:left;
}
li a, .dropBtn{
  display:inline-block;
  color:black;
  padding:12px 14px;
}
li a:hover,.dropDown:hover .dropBtn{
  background-color:#c27abb;
  color:white;
}
li.dropDown{
  display:inline-block;
}
.dropDown-content{
display:none;
position:absolute;
  background-color:#f0c6ec;
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgba(1,0,1,0.3);
  z-index:1;
}
.dropDown-content a{
  color:black;
  display:block;
  text-align:left;
  font-size:1.1em;
}
.dropDown-content a:hover{
  background-color:#c185bf;
  color:white;
  font-size: 1.1em;
}
.dropDown:hover .dropDown-content{
  display:block;
}
body{
background-color: #b488b0;
}
.dropBtn{
  font-size: 1.2em;
  align-items: center;
}
.left{
  background-color:#ffffff;
  float:left;
  width:27%;
  padding:10px;
  margin-top:10px;
  font-family:Madimi one;
}
.right{
  background-color:white;
  float:right;
  width:70%;
  padding:10px;
  margin-top:10px;
  font-family:Madimi one;
}
#domain{
  text-align: center;
  font-size: 1.11em;
}
.domainHeading{
  text-align: left;
}
#description{
  text-align: left;
}
#resource{
  color:#a683be;
  font-size: 1.4em;
}
#resource:hover{
  color:black;
}
#resource:visited{
  color:#d288d3;
}
#linkLeft{
  float: left;
}
#linkRight{
  float: right;
}
